
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400..700;1,400..700&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');






*{
  box-sizing: border-box;
    margin:0px;
    padding: 0px;
  
    
    
  }
  
 

  .cont{
    background: radial-gradient(circle, #ffffff, #bababa);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
   
background-image: url('/library-art-book-theme-rth0ek661fi3zdwz.jpg');
 background-repeat: no-repeat;
background-position: left;
   
  background-size: cover;
  overflow: hidden;
  }

 


.container{
  max-height: 500px;
  height: 370px;
  width: 300px;
  margin-left: 500px;
  margin-top: 110px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: rgb(249, 249, 249);
  border-left: 2px solid rgba(109, 109, 109, 0.56);
  border-top: 1px solid rgb(201 196 196 / 56%);
  border-bottom: 3px solid rgba(58, 57, 57, 0.56);
  border-right: 1px solid rgb(171 163 163 / 56%);
  backdrop-filter: blur(8px);
  box-shadow: 6px 10px 26px  #464646bd;

  font-family: "Brygada 1918", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.container h2{
 color :rgb(230, 37, 191);
  position: relative;
  top: -61px;
  left: -86px
}

.email{
border-radius: 10px;
width:250px;
margin: 10px 30px;
height: 40px;
border: 1px solid rgba(194, 188, 188, 0.566);

}

.InputBar{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

position: relative;
top:-42px;
}

.buttonbar{
  margin-left: -9px;
  margin-right: 12px;
  margin-top: -50px
}
.text{
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
margin-bottom: -63px;
margin-top: 18px;
margin-left: -5px;
display: flex;
flex-wrap: wrap;
flex-direction: row;
font-size: 10px;
}

.text1{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  margin-bottom: -30px;
  margin-top: 10px;
  margin-left: -5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  }


.eye{
  border-radius: 10px;
  width: 250px;
  margin: 10px 30px;
  height: 40px;
  border: 1px solid rgba(194, 188, 188, 0.566);
  background-color: whitesmoke;
}

.eye input{
  height: 40px;
  width: 200px;
  margin-top: -59px;
  background: none;
  border: 1px solid white;
  margin: -1px 2px
}
.eye button{
  z-index: 10;
width: 43px;
height: 41px;
border: 1px solid #ffffff00;
border-radius: 10px;
margin-top: -2px;
background-color: #ffffff00;

}