
.empty{
width: 100%;
height: 100vh;
box-sizing: border-box;
background:linear-gradient(to right,  #e0e2e4,#7ac4f3);
overflow: hidden;
} 


.box{
width: 80%;    width: 70%;
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
margin-top: 109px;
margin-left: 200px;
cursor: pointer;
height: 50vh;
box-sizing: hidden;
box-sizing: border-box;
padding-left: 83px;
padding-top: 50px;
 
}

.compBuy{
  max-height: 500px;
  height: 250px;
  width: 250px;
 box-sizing: border-box;
  border-radius: 20px;
  display: flex;

  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(209, 233, 235, 0.878);
  border-left: 2px solid rgba(46, 45, 45, 0.56);
  border-top: 1px solid rgb(201 196 196 / 56%);
  border-bottom: 7px solid rgba(27, 25, 25, 0.569);
  border-right: 1px solid rgb(171 163 163 / 56%);
  backdrop-filter: blur(8px);
  box-shadow: 6px 10px 26px  #ffffffbd;

  font-family: "Brygada 1918", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
transition: all ease-in-out  200ms;

}

.login h2{
  padding-left: 143px;
  padding-top: 87px;

  color: black;
}
.compBuy:hover{
  max-height: 500px;
  height: 350px;
  width: 300px;
 box-sizing: border-box;
  border-radius: 20px;
  display: flex;

  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(48, 208, 37, 0.881);
  border-left: 3px solid rgba(130, 127, 127, 0.56);
  border-top: 1px solid rgb(201 196 196 / 56%);
  border-bottom: 11px solid rgba(38, 37, 37, 0.569);
  border-right: 1px solid rgb(171 163 163 / 56%);
 
  box-shadow: 6px 10px 26px  #111010ac;

}

.sellBuy{
  max-height: 500px;
  height: 250px;
  width: 250px;
 box-sizing: border-box;
  border-radius: 20px;
  display: flex;

  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(209, 233, 235, 0.878);
  border-left: 2px solid rgba(46, 45, 45, 0.56);
  border-top: 1px solid rgb(201 196 196 / 56%);
  border-bottom: 7px solid rgba(27, 25, 25, 0.569);
  border-right: 1px solid rgb(171 163 163 / 56%);
  backdrop-filter: blur(8px);
  box-shadow: 6px 10px 26px  #ffffffbd;
  font-family: "Brygada 1918", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  transition: all ease-in-out  200ms;


}

.login{
  width: 100%;
  height: 42px;
  /* border: 2px solid red; */
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-end;
  background: linear-gradient(7deg, #ec71f7, #f334347a);
  box-shadow: 5px 5px 7px 3px #1e1e1f;
  border-radius: 5px;
position: fixed;
top:10px
}

.login h4{
margin-top: 29px;

}

.login button{
  height: 38px;
margin-top: 2px;
margin-right: 5px;

}

.sellBuy:hover{
  max-height: 500px;
  height: 350px;
  width: 300px;
 box-sizing: border-box;
  border-radius: 20px;
  display: flex;

  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(219, 25, 222, 0.83);
  border-left: 2px solid rgba(46, 45, 45, 0.56);
  border-top: 1px solid rgb(201 196 196 / 56%);
  border-bottom: 7px solid rgba(27, 25, 25, 0.569);
  border-right: 1px solid rgb(171 163 163 / 56%);
 
  box-shadow: 6px 10px 26px #111010ac;
  font-family: "Brygada 1918", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;


}
